body {
  background-color: hsla(0, 0%, 94%, 0.753);
  width: 100%;
  height: 100%;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.sideBar {
  width: 15%;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 200px;
}
.navbar {
  height: 100%;
}

.more {
  margin-top: auto;
  margin-bottom: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.menu .logo img {
  width: 8rem;
  height: 6rem;
}

.list {
  padding-left: 20px;
  margin: 10px 0;
}

.list ul li {
  list-style: none;
  font-size: 18px;
  line-height: 3rem;
  font-weight: 300 !important;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.list ul li img {
  width: 20px;
  height: 20px;
}

.home_page {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  margin-left: 20%;
  margin-right: 5%;
}
.story_wrapper {
  width: 100%;
}
.story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.story_border {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
}
.foryou_page {
  width: 100%;
}

.post {
  width: 100%;
  border-radius: 10px; 
}

.post_image {
  width: 100%;
  height: auto;
}
.post_footer {
  padding: 5px 10px;
}
.liked_by {
  padding: 0 10px;
}
.post_footer img {
  cursor: pointer;
}
.caption p {
  font-weight: 300 !important;
  font-size: 16px;
}
.view_all {
  font-size: 14px;
  color: rgb(114, 114, 114);
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.comments {
  width: 100%;
}
.add_comment {
  position: relative;
  margin-top: 5px;
  border-top: 0.75px solid rgb(190, 190, 190);
  gap: 5px;
}
#post_cmnt {
  width: 100%;
  outline: none;
  border: none;
  /* border-top: 0.5px solid rgb(190, 190, 190); */
  padding: 15px 15px;
  font-size: 16px;
  background: transparent;
}
.post_btn {
  position: absolute;
  cursor: pointer;
  right: 0;
  height: 100%;
  width: 20%;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgba(46, 99, 214, 0.986);
  font-size: 16px;
  font-weight: 500;
}
.emoji {
  padding-left: 10px;
  cursor: pointer;
}

.form_div {
  width: 30%; 
  position: fixed;
  top: 50%; 
  left: calc(51% + 220px); 
  transform: translateY(-50%); 
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
  z-index: 100; 
}
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
}

button.active-tab {
  color: #27ae60;
  border-bottom: 2px solid #27ae60;
}
button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #888;
  transition: all 0.3s ease;
}
.form-content label {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555555;
}
.form-content input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 14px;
}
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account_wrapper{
  position: relative;
  width: 30%;
  padding: 10px;
  margin-top: 5%;
  margin-right: 3%;
}

.acc_div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  position: absolute;
  right: 0;
  gap: 10px;
  top: 0;
}
#logout{
  border-radius: 5px;

}
button#logout:hover {
  color: #fff;
  background-color: red;
}

#account_name{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

#profile_picture{
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.create_post{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.post_data{
  text-align: left;
}

.post_data input{
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 14px;
}

.post_data label {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555555;
  width: 20vw;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  font-size: 28px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
